<h2>Modifier un produit</h2>

<form [formGroup]="form" class="p-4 card"  (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="nom">Nom </label>
    <input id="nom" class="form-control" formControlName="nom" />
  </div>
   <div class="mb-3">
    <label for="description">Desciption </label>
    <input id="description" class="form-control" formControlName="description" />
  </div>
   <div class="mb-3">
    <label for="code">Code </label>
    <input id="code"  class="form-control" formControlName="code" />
  </div>
   <div class="mb-3">
    <label for="prix">Prix</label>
    <input type="number" id="prix" formControlName="prix" class="form-control" />
  </div>

  <div class="mb-3">
    <label>
      <input type="checkbox" formControlName="actif" />
      Actif
    </label>
  </div>
   <button type="submit" [disabled]="form.invalid">Enregistrer</button>
</form>