    <h2>Inscription</h2>

     <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
         <div class="form-field">
        <label>Prenom :</label>
        <input type="text" formControlName="prenom" />
      </div>
        <div class="form-field">
        <label>Nom de famille :</label>
        <input type="text" formControlName="nom" />
      </div>

      <div class="form-field">
        <label>Email :</label>
        <input type="email" formControlName="email" />
      </div>
       <div class="form-field">
        <label>Nom d'utilisateur :</label>
        <input type="text" formControlName="username" />
      </div>

      <div class="form-field">
        <label>Mot de passe :</label>
        <input type="password" formControlName="password" />
      </div>

      <button type="submit" [disabled]="registerForm.invalid">S'inscrire</button>
    </form>